<section id="match">
  <h3>Encontramos una concidencia!</h3>
  <figure>
    <%= image_tag Gravatar.new(@friend.email).image_url(s: 300) %>
    <p><%= @friend.name %>, <strong><%= @friend.age %> años</strong></p>
  </figure>
  <div class="heart"></div>
  <figure>
    <%= image_tag Gravatar.new(current_user.email).image_url(s: 300) %>
    <p><%= current_user.name %>, <strong><%= current_user.age %> años</strong></p>
  </figure>
</section>
<div class="row">
  <button type="button" class="like btn-warning btn-lg col-md-6 col-md-offset-3">
    <%= link_to "Seguir Buscando", root_path %>
  </button>
</div>
